# drupal 9 gitignore
# Ignore configuration files that may contain sensitive information.
web/sites/*/settings*.php
web/sites/*/development.services.yml
web/sites/default/settings*.php
web/sites/default/*
/vendor/*
